executor: slurm
jobs: 100

default-resources:
  slurm_account: 'informatics'
  slurm_partition: 'shared'

set-threads:
  basecall: 1
  herro_toPaf: 16
  herro_correct: 8
  dechat_correct: 8
  map_reads: 16
  sort_mappings: 4
  bam_errors: 4
  count_kmers: 4
  nanoplot: 4

set-resources:
  basecall:
    nodes: 1
    cpus_per_task: 1
    slurm_extra: "'--gres=gpu:1'"
    mem_mb: 64000
    runtime: '1d'
    slurm_partition: "gpu"
  herro_toPaf:
    nodes: 1
    cpus_per_task: 16
    mem_mb: 32000
    runtime: '3d'
    slurm_partition: "holy-cow"
  herro_correct:
    nodes: 1
    cpus_per_task: 8
    mem_mb: 64000
    runtime: '3d'
    slurm_extra: "'--gres=gpu:1'"
    slurm_partition: "gpu"
  dechat_correct:
    nodes: 1
    cpus_per_task: 8
    mem_mb: 64000
    runtime: '3d'
    slurm_partition: "holy-cow"
  map_reads:
    nodes: 1
    cpus_per_task: 16
    mem_mb: 64000
    runtime: '1d'
    slurm_partition: "holy-cow"
  sort_mappings:
    nodes: 1
    cpus_per_task: 4
    mem_mb: 24000
    runtime: '8h'
    slurm_partition: "holy-cow"
  bam_errors:
    nodes: 1
    cpus_per_task: 4
    mem_mb: 32000
    runtime: '1h'
    slurm_partition: "shared"
  count_kmers:
    nodes: 1
    cpus_per_task: 4
    mem_mb: 44000
    runtime: '8h'
    slurm_partition: "shared"
  nanoplot:
    nodes: 1
    cpus_per_task: 4
    mem_mb: 16000
    runtime: '8h'
    slurm_partition: "shared"

